extends layout

block content


  form(name='newbook', action='/books/new', method='post' id='createPage')
    img(src="images/girlReading.jpg")#createPageBannerImg
    div.createPageInputContent
      div
        label(for='title') Title:
        input(type='text', name='title', placeholder="The Chronicles of Narnia")#addBookTitleInput.addBookInputs
      div
        label(for='author') Author:
        input(type='text', name='author', placeholder="C.S. Lewis")#addBookAuthorInput.addBookInputs
      div
        label(for='image_url') Image URL:
        input(type='text', name='image_url', placeholder="https://d3by36x8sj6cra....00.jpg")#addBookImageInput.addBookInputs
      div
        label(for='Description') Description:
        input(type='text', name='description', placeholder="Enter Description Here")#addDescriptionInput.addBookInputs
      div
        button(type='submit').addBookBtn Add Book
