extends layout

block content
  h1 Welcome to La Librairie

  table
    thead
      tr
        th Title
        th Author
        th Description
    tbody
      for book in books
        tr
          td.bookTitle
            a(href="books/"+book.id)= book.title
          td.bookAuthor= book.author
          td.bookDescr= book.description
          td.btn

    script(src='/javascripts/main.js')
