extends layout

block content
  script(src='/javascripts/main.js')
  h1 Welcome to La Librairie

  table
    thead
      tr
        th Title
        th Author
        th Description
    tbody
      for book in books
        tr
          td.bookTitle
            a(href="books/"+book.id)= book.title
          td.bookAuthor= book.author

          td.bookDescr= book.description.slice( 0, 150 )
          td.btn
