doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/books/create') Add Book
        li
          form(action="/search", method="get")
            input(type="text", name="q", placeholder="Search by Title")
            button(type="submit", value="Submit") Submit


    block content

    script(src='main.js')
