doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/')
        img(src="images/bookLogo.png")#bookLogo
      ul
        span
        li.navText
          a(href='/').homeLink Home

        li.navText
          a(href='/books/create').navLink Add Book
        li.navInput
          form(action="/search", method="get")#searchDiv
            input(type="text", name="q", placeholder=" Search by Title").inputBox
            button(type="submit", value="Submit").searchBtn Search

img(src="images/maleTurningPages.jpeg").bannerImg

#container

    block content
