extends layout

block content
  h1 Welcome to La Librairie

  table.searchHeadingsTable
    thead
      tr.headingsTableRow
        th
        th Title
        th Author
        th Description
    tbody
      for q in query
        tr
          td
            img(src=q.image_url)
          td
            a(href="books/"+q.id)= q.title
          td= q.author
          td= q.description
