extends layout

block content
  h1 Welcome to La Librairie

  div.searchHeadingsTable
    div.headerDiv
    tbody
      for q in query
        div
          div
            img.searchResultsImg(src=q.image_url)
          div.searchResults
            a(href="books/"+q.id)= q.title
          div.searchResults= q.author
          div.descriptionTable.searchResults= q.description
