body {
  padding: none;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td{
  padding:2em
}

.descr{
  color:black;
  border: solid grey 1px;
  background-color:lightgrey;
}

nav{
  background-color:green;
  overflow:hidden;
  padding:0;
  margin:0;
}

#container{
  padding:3em 5% 5% 5%;
}
